@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #BBE1FA;
    list-style: none;
    font-family: 'Exo 2', sans-serif;
}

body {
    background-color: #1B262C;
}

/* Main Container */

.container {
    padding: 4vh;
    max-width: 80rem;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}
  
  .top-right {
    position: absolute;
    top: 2.5vh;
    right: 2.5vh;
    border-right: 3px solid #0F4C75;
    border-top: 3px solid #0F4C75;
    border-top-right-radius: 7px;
    height: 10vw;
    width: 10vw;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 2.5vh;
    left: 2.5vh;
    border-bottom: 3px solid #0F4C75;
    border-left: 3px solid #0F4C75;
    border-bottom-left-radius: 7px;
    height: 10vw;
    width: 10vw;
  }

  .top-left {
    position: absolute;
    top: 2.5vh;
    left: 2.5vh;
    border-left: 3px solid #0F4C75;
    border-top: 3px solid #0F4C75;
    border-top-left-radius: 7px;
    height: 10vw;
    width: 10vw;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 2.5vh;
    right: 2.5vh;
    border-bottom: 3px solid #0F4C75;
    border-right: 3px solid #0F4C75;
    border-bottom-right-radius: 7px;
    height: 10vw;
    width: 10vw;
  }

/* Navbar */

  nav {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    padding: 0 10px;
  }

  .logo {
    font-size: 2rem;
    z-index: 5;
  }

  .social-icons {
    position: relative;
    font-size: 1.5rem;
  }

  .social-icons i {
    padding: 1rem;
  }

  .social-icons i:hover {
    transform:scale(1.2);
  }

/* Contents */

.typing-container {
  font-size: 3rem;
  margin: 1.5rem 0;
}

  .content {
    display: flex;
    align-items: center;
    height: 76vh;
    justify-content: space-around;
  }

  .content-item {
    margin: 20px;
  }

  .content-item-2 p {
    line-height: 2;
    word-spacing: 2px;
  }

  .content-item-2b p {
    line-height: 2;
    word-spacing: 2px;
  }

  .content-item-1 {
    text-align: center;
  }

  .content-item-2-1 {
    display: none;
  }

  .content-item p {
    margin-bottom: 20px;
    font-weight: 100;
    line-height: 2;
    letter-spacing: 1px;
  }

  .content-item a {
    border-bottom: 2px solid #0F4C75;
    margin-right: 1.5rem;
  }

  .back, .back-2, #myWork {
    border-bottom: 2px solid #0F4C75;
  }

  .back:hover{
    color: #22a6ff;
  }

  .viewSite:hover{
    color: #22a6ff;
  }

  .back:hover, .back2:hover {
    cursor: pointer;
  }

  .content-item-2-2 {
    display: none;
  }

  .content-item-2-3 {
    display: none;
  }

  .content-item-2-4 {
    display: none;
  }

  .content-item-2-5 {
    display: none;
  }

  .content-container {
    position: relative;
    padding: 25px;
    font-size: 1.2rem;
  }

  .content-border-1 {
    position: absolute;
    top: 0;
    left: 0;
    border-left: 3px solid #0F4C75;
    border-top: 3px solid #0F4C75;
    border-top-left-radius: 7px;
    height: 40px;
    width: 40px;
  }

  .content-border-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: 3px solid #0F4C75;
    border-bottom: 3px solid #0F4C75;
    border-bottom-right-radius: 7px;
    height: 40px;
    width: 40px;
  }

  .content-border-3 {
    position: absolute;
    top: 0;
    right: 0;
    border-right: 3px solid #0F4C75;
    border-top: 3px solid #0F4C75;
    border-top-right-radius: 7px;
    height: 40px;
    width: 40px;
  }

  .content-border-4 {
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 3px solid #0F4C75;
    border-bottom: 3px solid #0F4C75;
    border-bottom-left-radius: 7px;
    height: 40px;
    width: 40px;
  }


  .projects {
    font-size: 1.875rem;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .project-container {
    position: relative;
    padding: 25px 25px 10px;
  }

  .project-border-1 {
    position: absolute;
    top: 0;
    left: 0;
    border-left: 3px solid #0F4C75;
    border-top: 3px solid #0F4C75;
    border-top-left-radius: 7px;
    height: 80px;
    width: 80px;
  }

  .project-border-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    border-right: 3px solid #0F4C75;
    border-bottom: 3px solid #0F4C75;
    border-bottom-right-radius: 7px;
    height: 80px;
    width: 80px;
  }
  

  .project-container ul {
    width: 120px;
    position: relative;
    z-index: 2;
  }

  .project-container ul li {
    line-height: 1.5;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-weight: 300;
  }

  .project-container ul li span {
    border-bottom: 2px solid #0F4C75;
  }

  .project-container ul li span:hover {
    cursor: pointer;
  }

  .title{
      font-size: 2.5rem;
      font-weight: 400;
      margin-bottom: 20px;
  }
  .autotyping>span{
      color: #3282B8;
  
  }


  .copyright-parent {
    display: flex;
    height: 8vh;
    justify-content: end;
    align-items: flex-end;
  }

  .copyright {
    
    padding: 0 20px 10px 0;
  }

  #home-mid {
    display: none;
  }

  .content-mid {
    display: none;
  }

  .content-container h3 {
    font-size: 1rem;
  }

  .project-container ul li span:hover {
    color: #22a6ff;
  }



  .mySwiper [class^="swiper-button-next"]::after{
    font-size: 20px;
}

.mySwiper [class^="swiper-button-prev"]::after{
  font-size: 20px;
}

   /* // `lg` applies to medium devices (tablets, less than 992px) */
   @media (max-width: 991.98px) {
    .typing-container {
      font-size: 2.25rem;
    }

    .title {
      font-size: 2.25rem;
    }

   }

   

  /* // `md` applies to small devices (landscape phones, less than 768px) */
  @media (max-width: 767.98px) { 
    .project-selector {
      display: none;
    }

    .autotyping {
      display: none;
    }

    .content-lg {
      display: none;
    }
    


    #home-mid {
      display: block;

    }

    .show {
      display: block;
    }

    .hide {
      display: none;
    }

    .typing-container {
      text-align: center;
      font-size: 2rem;
      margin-top: 0;
    }

    .title {
      font-size: 2rem;
    }

    .container {
      padding: 1vh;
  }

    .top-right {
      top: 1vh;
      right: 1vh;
    }
    
    .bottom-left {
      bottom: 1vh;
      left: 1vh;
    }
  
    .top-left {
      top: 1vh;
      left: 1vh;
    }
    
    .bottom-right {
      bottom: 1vh;
      right: 1vh;
    }

    .copyright-parent {
      height: 13vh;
    }

    .content-container {
      padding: 0.75rem;
    }

    .content-container h3 {
      text-align: center;
    }

    .swiper-wrapper {
      align-items: center;
    }

   }

   
/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {



  .typing-container {
    font-size: 1.4rem;
    margin: 0;
  }

  .title {
    font-size: 1.25rem;
  }

  .content-item {
    margin: 1vh;
  }

  .logo {
    font-size: 1.75rem;
    z-index: 5;
  }

  .social-icons {
    position: relative;
    font-size: 1.25rem;
  }

  .content-border-1 {
    display: none;
  }

  .content-border-2 {
    display: none;
  }

  .content-border-3 {
    display: none;
  }

  .content-border-4 {
display: none;
  }

  .content-container p {
    font-size: 1rem;
  }

  .content-item {
    margin: 0;
  }

  
}


